@import url(/src/colors.css);

.project-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  background-color: var(--darkGrey);
  border-radius: 10px;
  border: solid 1px transparent;
  transition: all 0.2s ease-in-out;
  z-index: 1;
  overflow: hidden;

  img.project-img {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
  }

  .project-info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    height: 100%;

    p{
      color: var(--lightGrey);
    }

    .project-technologies {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .project-tech {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        position: relative;

        img{
          width: 1.5rem;
          height: auto;
        }
        .tooltip{
          position: absolute;
          top: -120%;
          left: 0;
          background-color: var(--white);
          border-radius: 5px 5px 5px 0;
          padding: 0.2rem 1rem;
          color: var(--black);
          font-size: 0.8rem;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          justify-content: center;
          opacity: 0;
          transition: all 0.2s ease-in-out;
        }
      }
      .project-tech:hover{
        .tooltip{
          opacity: 1;
        }
      }
    }
    .tags{
      display: flex;
      align-items: center;
      gap: 0.5rem;
      width: 100%;
      flex-wrap: wrap;
      margin-bottom: 2rem;
    }

    .details{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      margin: 0 auto;
      text-align: center;
      background-color: transparent;
      border: none;
      color: var(--allWhite);
      padding: 0.6rem;
      border-radius: 5px;
      font-size: 1rem;
      text-transform: capitalize;
      transition: all 0.2s ease-in-out;
      text-decoration: underline;
    }
    .details:hover {
      color: var(--blue);
      cursor: pointer;
    }

    .project-buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      gap: 0.5rem;
      margin-top: auto;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        width: 100%;
        background-color: transparent;
        border: 1px solid var(--grey);
        color: var(--allWhite);
        padding: 0.8rem 1rem;
        border-radius: 5px;
        font-size: 1rem;
        text-transform: capitalize;
        transition: all 0.2s ease-in-out;

        .external-link-icon{
          opacity: 1;
          font-size: 0.8rem;
          transition: all 0.2s ease-in-out;
        }
      }
      button:hover {
        background-color: var(--blue);
        border: solid 1px transparent;
        box-shadow: 0 0 10px var(--blue);
        cursor: pointer;
      }
    }
  }
}
.project-card:hover{
  border: solid 1px var(--grey);
  transform: translateY(-5px);
}
