@import url(/src/colors.css);

body {
  background-color: var(--black);
  color: var(--allWhite);
}

section {
  padding: 0 8rem;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 90dvh;
  overflow: hidden;

  .background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: auto;
    object-fit: cover;
    scale: 1;
    filter: saturate(0.5);
    opacity: 0.08;
  }

  h1 {
    display: flex;
    text-align: center;
    align-items: center;
    line-height: 1.2;
    height: 100%;
  }

  img {
    position: absolute;
    z-index: -1;
    top: -110px;
    filter: saturate(0);
    opacity: 0.1;
  }

  .see-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-bottom: 2rem;
    cursor: pointer;

    &:hover {
      p,
      .arrow {
        text-shadow: 0 0 10px var(--blue);
        transition: all 0.3s ease-in-out;
      }
    }

    p {
      font-size: 1.2rem;
      color: var(--blue);
      font-weight: bold;
    }
    .arrow {
      font-size: 2rem;
      color: var(--blue);
      animation: loop 2s infinite;
    }
  }

  .header {
    display: flex;
    width: 100%;
    padding: 0 6rem;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;

    p {
      color: var(--blue);
      font-weight: bold;
    }
    .right {
      display: flex;
      align-items: center;
      gap: 1.6rem;
      margin-top: 1rem;

      a {
        color: var(--white);
        text-decoration: none;
        font-size: 1.6rem;
        transition: all 0.2s ease-in-out;
      }
      a:hover {
        color: var(--blue);
      }
    }
  }
}
.btn-more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 3);
  background-color: var(--blue);
  color: var(--white);
  border: none;
  padding: 1rem 2rem;
  gap: 1rem;
  margin: 3rem 0;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  .right-arrow {
    transition: all 0.2s ease-in-out;
    font-size: 1rem;
  }
  &:hover {
    box-shadow: 0 0 10px var(--blue);
  }
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 3rem 0;

  a {
    color: var(--blue);
  }
  .external-link-icon {
    font-size: 0.9rem;
  }
}
@keyframes loop {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0);
  }
}
