@import url(/src/colors.css);

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 4rem 0;
  gap: 1rem;
  border-bottom: solid 2px var(--darkGrey);

  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      width: 100%;
      background-color: transparent;
      border: 1px solid var(--grey);
      color: var(--allWhite);
      padding: 1rem;
      border-radius: 5px;
      font-size: 1rem;
      transition: all 0.2s ease-in-out;

      .external-link-icon {
        display: block;
        opacity: 1;
        font-size: 0.8rem;
        transition: all 0.2s ease-in-out;
      }
    }
    button:hover {
      cursor: pointer;

    }
    .linkedin:hover {
      background: #0077B5;
      border: solid 1px transparent;
      box-shadow: 0 0 10px #0077B5;
    }
    .instagram:hover {
      background: linear-gradient(45deg, #F09433 0%, #E6683C 25%, #DC2743 50%, #CC2385 75%, #AD23E0 100%);
      border: solid 1px transparent;
      box-shadow: 0 0 10px #DC2743;
    }
    .whatsapp:hover {
      background-color: #25D366;
      border: solid 1px transparent;
      box-shadow: 0 0 10px #25D366;
    }
  }
}
