@import url(/src/colors.css);

.projects-page{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    padding: 4rem 8rem;

    .btn-back-container{
        display: flex;
        align-items: center;
        width: 10rem;
        gap: 1rem;
        cursor: pointer;
        background: none;
        border: none;
        padding: 1rem 0;
        font-size: 1rem;
        color: var(--white);
        transition: all 0.2s ease-in-out;
    }
    .btn-back-container:hover{
        color: var(--blue);
    }

    .projects-page-content{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: 2rem;
        width: 100%;
        justify-content: center;
        padding: 4rem 0;
        border-bottom: solid 2px var(--darkGrey);

        .projects{
            .wrapper{
                border: none;
            }
        }
    }
}