:root{
    --allBlack: #000000;
    --black: #171717;
    --darkGrey: #1d1d1d;
    --grey: #383838;
    --lightGrey: #8f8f8f;
    --allWhite: #ffffff;
    --white: #f5f5f5;
    --blue: #48a0ff;
    --darkBlue: #0d1722;
}