@media screen and (max-width: 768px) {
  #root {
    .main {
      img {
        width: 100%;
        top: 80px;
        left: 15px;
        scale: 1.8;
      }
    }
    .contact {
      .external-link-icon {
        display: block;
        opacity: 1;
        font-size: 1rem;
      }

      .linkedin {
        background: #0077b5;
      }
      .instagram {
        background: linear-gradient(
          45deg,
          #f09433 0%,
          #e6683c 25%,
          #dc2743 50%,
          #cc2385 75%,
          #ad23e0 100%
        );
      }
      .whatsapp {
        background: #25d366;
      }
    }
    .project-card {
      .project-buttons {
        button {
          .external-link-icon {
            opacity: 1;
            font-size: 1rem;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1367px) {
    body {
      padding: 0 1rem;
    }
    h3 {
      font-size: 1.2rem;
    }
    h2 {
      font-size: 1.5rem;
    }
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 0.9rem;
    }
    .main {
      img {
        top: -190px;
        scale: 0.8;
      }
    }
    #root {
      .about {
        flex-direction: column-reverse;
        gap: 1rem;

        .info {
          width: 100%;
        }
        .photo {
          width: 50%;

          img,
          span {
            aspect-ratio: 1/1;
          }
        }

        .certifications {
          flex-wrap: wrap;

          .certification-card {
            width: 100%;

            div {
              width: 100%;
            }
          }
        }
      }
    }
    .buttons {
      flex-direction: column;
    }
    footer {
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}
