@import url(/src/colors.css);

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: solid 2px var(--darkGrey);

    .btn-more{
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% / 3);
        background-color: var(--blue);
        color: var(--white);
        border: none;
        padding: 1rem 2rem;
        gap: 1rem;
        margin: 3rem 0;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        
        .right-arrow{
            transition: all 0.2s ease-in-out;
            font-size: 1rem;
        }
        &:hover{
            box-shadow: 0 0 10px var(--blue);
        }
    }
}
.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    width: 100%;
    justify-content: center;

}