@import url(/src/colors.css);

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: solid 2px var(--darkGrey);
}
.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    width: 100%;
    justify-content: center;

}